@model RemoveHandlerModel

@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Do you want to remove this handler?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="button" id="Ok" value="Ok" />
    <input type="button" id="Cancel" value="Cancel" onclick='window.location="Configurations";' />
}
<script>
    $("#Ok").click(function () {
        @*var input = {
            handler: @Html.Raw(Json.Encode(Model.handler))
        };*@
        document.getElementById("Ok").disabled = true;
        document.getElementById("Cancel").disabled = true;
        $.post("@Url.Action("handlerDeleted", new { handler = Model.handler })", function () { window.location.href = " Configurations"});

    });
</script>
