@model RemoveHandlerModel

@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Do you want to remove this handler?</h2>

<input type="button" id="Ok" value="Ok" />
<input type="button" id="Cancel" value="Cancel" onclick='window.location="Configurations";' />

<script>
    $("#OK").click(function () {
        var input = {
            handler: @Html.Raw(Json.Encode(Model.handler))
        };
        $(this).attr("disabled", "disabled");
        $.post("@Url.Action("handlerDeleted")",input , function () {}, "json");
        window.location="Configurations";
    });
</script>
