@model Thumbnail
@{
    ViewBag.Title = "ThumbnailDelete";
}


<h3>Do you want to remove this thumbnail?</h3>

<center>
    <div class="thumbnail">
        <img src="@Url.Content(Model.ThumbnailPath)" alt="" class="circular-image" width="240" height="200">
        <div class="caption">
            <h4>@Model.Name</h4>
            <p>
                <a href="@Url.Action("Photos", new { path = Model.PhotoPath })" id="btnView" class="btn btn-info btn-xs" role="button">Cancel</a>
                <a href="@Url.Action("DeleteAfterViewed", new { path = Model.PhotoPath })" id="btnDelete" class="btn btn-danger btn-xs" role="button">Ok</a>
            </p>
        </div>
    </div>
</center>


